@tailwind base;
@tailwind components;
@tailwind utilities;

*, html {
  scroll-behavior: smooth;
}


@layer components{

  ::-webkit-scrollbar{
    @apply w-1.5 rounded-full
  }
 
  ::-webkit-scrollbar-track{
    @apply bg-[#d1e5ff] rounded-full
  }

  ::-webkit-scrollbar-thumb{
    @apply bg-secoundary rounded-full
  }

  body{
    @apply overflow-x-hidden
  }
 
  li{
    @apply line-clamp-none
  }
  .container{
    @apply max-w-7xl mx-auto px-1 md:px-5 lg:px-1 
  }
  .section-padding{
    @apply pt-20 md:pt-32
  }
  .button{
    @apply relative bg-secoundary text-primary uppercase transition duration-100 rounded overflow-hidden  }
  .button:hover{
    @apply bg-secoundary shadow-3xl shadow-secoundary
  }
  .button::before{
    @apply content-[''] z-0 absolute inset-[2px] bg-primary
  }
  .button span{
    @apply relative  z-10 text-white
  }
  .button i{
    @apply absolute inset-0 block
  }
  .button i::before{
    @apply content-[''] absolute top-0 left-[80%] w-[10px] h-[4px] bg-primary translate-x-[-50%] skew-x-[325deg] transition-all duration-150
  }
  .button:hover i::before{
   @apply w-[20px] left-[20%]
  }

  .button i::after{
    @apply content-[''] absolute bottom-0 left-[20%] w-[10px] h-[4px] bg-primary translate-x-[-50%] skew-x-[325deg] transition-all duration-150
  }
  .button:hover i::after{
   @apply w-[20px] left-[80%]
  }


  header{
    @apply fixed top-0 left-0 w-full bg-[transparent] z-50
  }

  .navLink{
    @apply text-white hover:text-secoundary transition-colors duration-75 cursor-pointer text-sm font-normal
  }
 .navLink.active{
    @apply text-secoundary
  }
 
  .menuNavLink{
    @apply text-white border border-primary block p-1 bg-secoundary
  }
  .menuNavLink.active{
    @apply text-primary
  }

 

  .dropdown_menu{
    @apply absolute md:hidden right-0 top-[60px] w-full bg-[blue]/80 overflow-hidden rounded
  }
  .dropdown_menu li{
    @apply p-1 flex items-center justify-center
  }
  .dropdown_menu .button{
    @apply w-full flex justify-center
  }

  .backgroundIntro{
    @apply relative
  }
  .backgroundIntro::before{
    @apply absolute top-0 left-0 w-full h-full bg-[black]/75 -z-10 content-['']
  }

  .title{
    @apply text-3xl md:text-5xl font-medium  text-white leading-[40px] md:leading-[70px] text-left
  }
  .sub-title{
    @apply text-2xl md:text-4xl font-medium  text-white leading-[35px]  md:leading-[40px] text-left
  }


  .skills-bar .bar{
    @apply my-5 mx-0
  }

  .skills-bar .bar .info{
    @apply mb-2 text-white
  }
 
  .skills-bar .bar:first-child{
    @apply mt-0
  }

  .skills-bar .bar .progress-line{
    @apply h-2 w-full bg-[#777575] shadow-sm relative rounded
  }
  .skills-bar .bar .progress-line span{
    @apply h-full  bg-[var(--clr2)] absolute rounded
  }

  .skills-bar .bar .progress-line span::before{
    @apply absolute content-[""] right-0 -top-2 h-0 w-0 border-4 border-solid border-[transparent]  border-t-secoundary
  }
  .skills-bar .bar .progress-line span::after{
    @apply absolute right-0 -top-7 bg-primary text-xs text-white px-1 py-[2px] rounded
  }
  .skills-bar .bar .progress-line span.NodeJS::after{
    @apply content-["75%"]
  }
  .skills-bar .bar .progress-line span.Prisma::after{
    @apply content-["55%"]
  }
  .skills-bar .bar .progress-line span.socket::after{
    @apply content-["65%"]
  }
  

  .skill-container{
    @apply relative flex justify-center items-center flex-wrap gap-5
  }
  .skill-container .card{
    @apply relative w-full h-full bg-[transparent]
  }
  .skill-container .card .percent{
    @apply relative w-[150px] h-[150px] 
  }

  .skill-container .card .percent svg{
    @apply relative w-[150px] h-[150px] rotate-[270deg]
  }
  .skill-container .card .percent svg circle{
    @apply relative w-full h-full fill-[transparent] stroke-2 stroke-[#777575] translate-x-[5px] translate-y-[5px]
  }
  .skill-container .card .percent svg circle:nth-child(2){
   @apply stroke-[var(--clr)]
   }
  .dot{
    @apply absolute inset-[5px] z-10
  }
  .dot::before{
    @apply content-[""] absolute w-[10px] h-[10px] bg-[var(--clr)] -top-[5px] left-[50%] -translate-x-[50%] z-10 rounded-full shadow-skillshadow shadow-[var(--clr)]
  }

  .skill-number{
    @apply absolute inset-0 flex justify-center items-center flex-col
  }
  .skill-number h2{
    @apply flex justify-center items-center text-white font-bold text-3xl
  }
  .skill-number h2 span{
    @apply font-normal text-white text-lg
  }
  .skill-number p{
    @apply font-normal text-sm uppercase text-white/75 mt-1
  }

 .checkButton{
  @apply relative w-[40px] h-[20px] appearance-none bg-[#c6c6c6] outline-none rounded-[20px] transition-all duration-100 shadow-chackBoxShadow cursor-pointer
 }
 .checkButton:checked{
  @apply bg-secoundary/30
 }
 .checkButton::before{
  @apply content-[""] absolute w-[20px] h-[20px] rounded-full top-0 left-0 bg-primary/50 transition-all duration-100 scale-110  shadow-chackBoxBeforeShadow
 }
 .checkButton:checked::before{
  @apply left-[20px]
 }
 .messageContactBox{
  @apply relative w-[320px] h-[125px]   rounded-lg overflow-hidden
 }
 .messageContactBox::before, .messageContactBox::after{
  @apply content-[""] absolute -top-[50%] -left-[50%] w-[320px] h-[125px] z-10 
 }

 .messageContactBox .borderLine{
  @apply absolute top-0 inset-0
 }

 .messageContactBox .borderLine::before, .messageContactBox .borderLine::after{
  @apply content-[""] absolute -top-[50%] -left-[50%] w-[320px] h-[125px] z-10 
 }

 .messageContactBox form{
  @apply flex flex-col space-y-2 z-20 bg-[#1c1c1c] border border-white/30 absolute top-[1px] left-[1px] right-[1px] bottom-[1px] w-[99%] p-3 inset-6 rounded-lg
 }

 .messageContactBox form input{
  @apply border-b border-secoundary/30 outline-none bg-white/5 p-1 text-secoundary/60
 }
 .messageContactBox form input::placeholder{
  @apply text-white/40 font-thin
 }

 .messageContactBox form button{
  @apply flex justify-center items-center text-white/40
 }
 .messageContactBox form button.active{
  @apply text-white/80 hover:text-white/90
 }
 
.signatureDetails-inputBox{
  @apply relative h-12 w-full rounded  flex items-center pl-3 pr-1
}

.signatureDetails-inputBox .borderDiv{
  @apply absolute top-0 left-0 w-full h-full rounded border border-primary/20 pointer-events-none
}

.signatureDetails-inputBox input:focus ~ .borderDiv{
 @apply border-secoundary
}


.signatureDetails-inputBox input{
  @apply outline-none transition-all duration-150 text-sm w-full bg-[transparent]
}

.signatureDetails-inputBox label{
@apply absolute left-3 text-base transition-all duration-150 cursor-auto text-info/60
}
.signatureDetails-inputBox input:valid,
.signatureDetails-inputBox input:focus{
  @apply translate-y-2
}
.signatureDetails-inputBox input:valid ~ label,
.signatureDetails-inputBox input:focus ~ label{
  @apply -translate-y-2 text-xs
}
.signatureDetails-inputBox input:focus ~ label{
  @apply text-secoundary
}
.signatureTools::-webkit-scrollbar{
  @apply hidden
}
}

.skill-container .card .percent svg circle:nth-child(2){
 stroke-dasharray: 440;;
}

.messageContactBox::before{
  background: linear-gradient(0deg, transparent, transparent, #0e868f, #0e868f, #0e868f) ;
  transform-origin: bottom right;
  animation: animatedContactMessage 6s linear infinite;
}

.messageContactBox::after{
  background: linear-gradient(0deg, transparent, transparent, #0e868f, #0e868f, #0e868f) ;
  transform-origin: bottom right;
  animation: animatedContactMessage 6s linear infinite;
  animation-delay: -3s;
}

.messageContactBox .borderLine::after{
  background: linear-gradient(0deg, transparent, transparent, #a01141, #a01141, #a01141) ;
  transform-origin: bottom right;
  animation: animatedContactMessage 6s linear infinite;
  animation-delay: -4.5s;
}

.messageContactBox .borderLine::before{
  background: linear-gradient(0deg, transparent, transparent, #a01141, #a01141, #a01141) ;
  transform-origin: bottom right;
  animation: animatedContactMessage 6s linear infinite;
  animation-delay: -1.5s;
}


@keyframes animatedContactMessage{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

